@import url(../css/normalize.css);
html {
  box-sizing: border-box;
  font-size: 18px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: inherit;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  font-family: "acumin-pro";
  font-size: 100%;
  color: #1f1f1f;
  background-color: #1F1E1C;
}
a,
button {
  transition: all 0.3s ease;
}
input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
}

#shape-red-orange-ellipse {
  position: absolute;
  top: 545vh;
  left: -4vw;
  overflow: hidden;
  z-index: 10;
}

#shape-red-orange-ellipse > img {
  width: 120px;
}

#shape-red-gradient-ellipse  {
  position: absolute;
  top: 375vh;
  right: 0;
  overflow: hidden;
  z-index: 10;
}

#shape-red-gradient-ellipse > img {
  width: 200px;
  margin-right: -100px;
}
/* intro */

.home-page__intro {
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-page__intro-banner {
  display: flex;
  position: relative;
}

#shape-purple-ellipse {
  position: absolute;
  top: 43vw;
  left: -3vw;
  width: 100px;
  height: 100px;
  z-index: 1;
}

#shape-light-brw-ellipse-sm {
  position: absolute;
  top: 18vw;
  left: 85vw;
  width: 40px;
  height: 40px;
}

#shape-light-brw-ellipse-sm2 {
  position: absolute;
  top: 14vw;
  left: 16vw;
  width: 28px;
  height: 28px;
}

.home-page__intro-banner .app-download {
  position: absolute;
  top: 3vw;
  left: 78vw;
}

.app-download > img {
  width: 70%;
}
.home-page__intro-banner .pm-header {
  position: absolute;
  top: 2.5vw;
  left: 21vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}

.pm-header > img {
  width: 85px;
  height: 85px;
}

.home-page__intro-banner .tn-header {
  position: absolute;
  top: 23vw;
  left: 10.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}

.tn-header > img {
  width: 85px;
  height: 85px;
}

.tn-header--mobile {
  display: none
}

.home-page__intro-banner .pv-header {
  position: absolute;
  top: 23.5vw;
  left: 77vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}

.pv-header > img {
  width: 85px;
  height: 85px;
}

.pv-header--mobile {
  display: none;
}

.intro-header-title--font {
  color: #ffffff;
  font-weight: bold;
  font-size: 0.85em;
}

.intro-header-title--font .subtitle{
  font-size: 0.9em;
  font-weight: 100;
}

.home-page__intro-banner > #bg-path-1 {
  position: absolute;
  width: 53%;
  height: 170px;
  background: transparent url('../img/bg-path-1.svg') 0% 0% no-repeat padding-box;
  mix-blend-mode: screen;
  opacity: 1;
  background-size: 100%
}

.home-page__intro-banner > #bg-path-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 70vw;
  height: 570px;
  background: transparent url('../img/bg-path-2.svg') 0% 0% no-repeat padding-box;
  mix-blend-mode: screen;
  opacity: 1;
  background-size: 100%;
}

.home-page__intro-banner > #bg-path-3 {
  position: absolute;
  margin: 0 auto;
  top: -2em;
  width: 100%;
  height: 670px;
  background: transparent url('../img/bg-path-3.svg') 0% 0% no-repeat padding-box;
  mix-blend-mode: screen;
  opacity: 1;
  background-size: 100%;
}

.page__intro-app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vw;
  z-index: 1;
  width: 100%;
}

#img-bellhop-mobile {
  position: absolute;
  top: 17em;
  left: 12em;
  height: 400px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/img-bellhop-mobile.png');
  /* background-image: -webkit-image-set( url('../img/img-bellhop-mobile.png') 1x, url('../img/img-bellhop-mobile-2x.png') 2x ); */
}

#img-bellhop-ipad {
  position: absolute;
  height: 400px;
  top: 18em;
  left: 46.5em;
  width: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/img-bellhop-ipad.png'); 
}

#img-bellhop-desktop {
  height: 650px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 54%;
  background-image: url('../img/img-bellhop-desktop.png');
  /* background-image: -webkit-image-set( url('../img/img-bellhop-desktop.png') 1x, url('../img/img-bellhop-desktop-2x.png') 2x ); */
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
  
  #shape-red-gradient-ellipse,
  #shape-light-brw-ellipse-sm2,
  #shape-light-brw-ellipse-sm {
    display: none;
  }
  #shape-purple-ellipse {
    top: 175vw;
    left: 60vw;
    width: 60px;
    height: 60px;
  }

  .home-page__intro-banner > #bg-path-1 {
    height: 270px;
    background-size: 200%
  }

  .home-page__intro-banner > #bg-path-2 {
    width: 90vw;
    height: 770px;
    background-size: 200%;
  }

  .home-page__intro-banner > #bg-path-3 {
    top: -2em;
    width: 100%;
    height: 670px;
    background-size: 200%;
  }

  .home-page__intro-banner > #bg-path-1 {
    width: 100%;
  }

  #img-bellhop-desktop {
    background-size: contain;
    width: 100%;
  }

  #img-bellhop-ipad {
    top: 20em;
    left: 48%;
    width: 52%;
    height: 220px;
    background-size: 120%;
    padding: 0;
    margin: 0;
  }

  #img-bellhop-mobile {
    position: absolute;
    top: 20em;
    left: 0;
    height: 220px;
    width: 110px; 
  }

  .home-page__intro-banner .pm-header {
    top: 35vw;
    left: 2vw;
  }

  .home-page__intro-banner .pv-header {
    display: none;
  }
  .pv-header--mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    top: 19em;
    left: 58%;
    z-index: 2;
  }
  .pv-header--mobile  .img {
    margin-bottom: 42vw;
    padding-left: 24vw;
  }

  .pv-header--mobile  .img > img, 
  .tn-header--mobile  .img > img,
  .home-page__intro-banner .pm-header > img {
    width: 60px;
    height: 60px;
  }

  .tn-header--mobile  .img {
    margin-bottom: 42vw;
  }

  .subtitle{
    font-size: 0.5em;
    font-weight: 100;
  }

  .home-page__intro-banner .tn-header {
    display: none;
  }
  .tn-header--mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 19em;
    left: 1.5em;
    z-index: 2;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  
  #shape-red-gradient-ellipse,
  #shape-light-brw-ellipse-sm2,
  #shape-light-brw-ellipse-sm {
    display: none;
  }
  #shape-purple-ellipse {
    top: 175vw;
    left: 60vw;
    width: 60px;
    height: 60px;
  }

  .home-page__intro-banner > #bg-path-1 {
    height: 270px;
    background-size: 200%
  }

  .home-page__intro-banner > #bg-path-2 {
    width: 90vw;
    height: 770px;
    background-size: 200%;
  }

  .home-page__intro-banner > #bg-path-3 {
    top: -2em;
    width: 100%;
    height: 670px;
    background-size: 200%;
  }

  .home-page__intro-banner > #bg-path-1 {
    width: 100%;
  }

  #img-bellhop-desktop {
    background-size: contain;
    width: 100%;
  }

  #img-bellhop-ipad {
    top: 20em;
    left: 48%;
    width: 52%;
    height: 220px;
    background-size: 120%;
    padding: 0;
    margin: 0;
  }

  #img-bellhop-mobile {
    position: absolute;
    top: 20em;
    left: 0;
    height: 220px;
    width: 110px; 
  }

  .home-page__intro-banner .pm-header {
    top: 11.5vh;
    left: 2vw;
  }

  .home-page__intro-banner .pv-header {
    display: none;
  }
  .pv-header--mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    top: 19em;
    left: 65%;
    z-index: 2;
  }
  .pv-header--mobile  .img {
    margin-bottom: 42vw;
    padding-left: 24vw;
  }

  .pv-header--mobile  .img > img, 
  .tn-header--mobile  .img > img,
  .home-page__intro-banner .pm-header > img {
    width: 60px;
    height: 60px;
  }

  .tn-header--mobile  .img {
    margin-bottom: 42vw;
  }

  .subtitle{
    font-size: 0.5em;
    font-weight: 100;
  }

  .home-page__intro-banner .tn-header {
    display: none;
  }
  .tn-header--mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 19em;
    left: 1.5em;
    z-index: 2;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
  
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}


/* blurb */
.home-page__blurb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

#shape-red-wave {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
}

#shape-red-ellipse-sm {
  position: absolute;
  top: 14vh;
  right: 8vw;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

#shape-red-ellipse-sm img {
  width: 80px;
  height: 80px;
}

#shape-brown-ellipse {
  position: absolute;
  top: 5.5em;
  left: -4em;
  width: 320px;
}

.home-page__blurb-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-top: 8vw;
  margin-bottom: 8.5vw;
}

.home-page__blurb-content .title {
  font-family: "Montserrat";
  font-size: 1.5em;
  color:#FDE4A8;
}

.home-page__blurb-content .description {
  color: #FFFFFF;
  font-size: 0.9em;
  padding-top: 2vw;
  padding-bottom: 2vw;
  line-height: 16px;
  text-align: center;
}

.home-page__blurb-content .button {
  background-color: #fec90c;
  border: none;
  border-radius: 20px;
  width: 100px;
  font-size: 10px;
  font-weight: bold;
  color: #6F654C;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
  #shape-red-ellipse-sm {
    display: none;
  }
  .home-page__blurb-content {
    width: 90%;
    margin-top: 28vw;
    margin-bottom: 18.5vw;
  }
  #shape-brown-ellipse {
    top: 0;
    left: -6em;
    width: 200px;
  }

  .home-page__blurb-content .title { 
    font-size: 1.2em;
  }
  .home-page__blurb-content .description {
    font-size: 0.9em;
    padding-bottom: 6vw;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  
  #shape-red-ellipse-sm {
    display: none;
  }
  .home-page__blurb-content {
    width: 90%;
    margin-top: 28vw;
    margin-bottom: 18.5vw;
  }
  #shape-brown-ellipse {
    top: 0;
    left: -6em;
    width: 200px;
  }

  .home-page__blurb-content .title { 
    font-size: 1.2em;
  }
  .home-page__blurb-content .description {
    font-size: 0.9em;
    padding-bottom: 6vw;
  }
  #shape-purple-ellipse {
    top: 98vh;
    left: 75vw;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  
  .home-page__intro {
    border: 1px solid pink
  }

  #img-bellhop-ipad {
    top: 20em;
    left: 26em;
    width: 38%;
  }

  #img-bellhop-mobile {
    top: 20em;
    left: 7em;
    width: 15%;
  }

  .intro-header-title--font {
    font-size: 0.65em;
  }
  
  .intro-header-title--font .subtitle{
    font-size: 0.55em;
    font-weight: 100;
  }

  .home-page__intro-banner .tn-header {
    top: 41vw;
    left: 5.5vw;
    z-index: 2;
  }
  
  .tn-header > img {
    width: 75px;
    height: 75px;
  }

  .home-page__intro-banner .pv-header {
    top: 41vw;
    left: 75.5vw;
  }
  
  .pv-header > img {
    width: 75px;
    height: 75px;
  }

  .home-page__intro-banner .pm-header {
    top: 16vw;
    left: 20vw;
  }
  
  .pm-header > img {
    width: 75px;
    height: 75px;
  }

  #shape-purple-ellipse {
    top: 53vw;
    left: -5vw;
  }

  #shape-light-brw-ellipse-sm {
    top: 30vw;
    left: 87vw;
  }

  #shape-light-brw-ellipse-sm2 {
    top: 26vw;
    left: 16vw;
  }

  .home-page__intro-banner .app-download {
    top: 16vw;
    left: 78vw;
  }

  .app-download > img {
    width: 60%;
  }

  .home-page__blurb-content { 
    width: 50%;
  }

  #shape-brown-ellipse {
    width: 220px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
  .home-page__intro {
    margin-top: 4vh;
    border: 1px solid white;
  }

  #img-bellhop-ipad {
    top: 20em;
    left: 35em;
    width: 37%;
  }

  #img-bellhop-mobile {
    top: 20em;
    left: 8.5em;
    width: 15%;
  }

  .home-page__intro-banner .tn-header {
    top: 32vw;
    left: 7vw;
    z-index: 2;
  }
  
  .tn-header > img {
    width: 80px;
    height: 80px;
  }

  .home-page__intro-banner .pv-header {
    top: 32vw;
    left: 75.5vw;
  }
  
  .pv-header > img {
    width: 80px;
    height: 80px;
  }

  .home-page__intro-banner .pm-header {
    top: 8vw;
    left: 20vw;
  }
  
  .pm-header > img {
    width: 80px;
    height: 80px;
  }

  .home-page__blurb-content { 
    width: 40%;
  }

  #shape-brown-ellipse {
    width: 220px;
  }

  .home-page__intro-banner .app-download {
    top: 13vw;
  }

  .app-download > img {
    width: 60%;
  }

  #shape-light-brw-ellipse-sm {
    top: 26vw;
    left: 87vw;
  }

  #shape-light-brw-ellipse-sm2 {
    top: 24vw;
    left: 16vw;
  }
}


/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .home-page__intro {
    margin-top: 8vh;
    border: 1px solid blue;
  }

  #img-bellhop-mobile {
    position: absolute;
    top: 17em;
    left: 12em;
    height: 400px;
    width: 170px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/img-bellhop-mobile.png');
    /* background-image: -webkit-image-set( url('../img/img-bellhop-mobile.png') 1x, url('../img/img-bellhop-mobile-2x.png') 2x ); */
  }
  
  #img-bellhop-ipad {
    position: absolute;
    height: 400px;
    top: 18em;
    left: 46.5em;
    width: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/img-bellhop-ipad.png'); 
  }
  
  #img-bellhop-desktop {
    height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-image: url('../img/img-bellhop-desktop.png');
    /* background-image: -webkit-image-set( url('../img/img-bellhop-desktop.png') 1x, url('../img/img-bellhop-desktop-2x.png') 2x ); */
  }


  .home-page__intro-banner .pv-header {
    left: 70vw;
  }
  

}

/*iPad 10.5*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-page__intro {
      border: 1px solid cyan
    }
    .intro-header-title--font {
      font-size: 0.75em;
    }
    
    .intro-header-title--font .subtitle{
      font-size: 0.80em;
      font-weight: 100;
      border: 1px solid green
    }

    .home-page__intro-banner .pv-header {
      top: 41vw;
      left: 70vw;
    }
 
  }

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .home-page__intro {
      margin-top: 0vh;
      border: 1px solid purple;
    }

    #img-bellhop-mobile {
      position: absolute;
      top: 17em;
      left: 12em;
      height: 400px;
      width: 300px;
     
    }
    
    #img-bellhop-ipad {
      position: absolute;
      height: 400px;
      top: 18em;
      left: 46.5em;
      width: 600px;
     
    }
    
    #img-bellhop-desktop {
      height: 650px;
      width: 100%;
     
    }
  }


/*  features */

.home-page__features {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #403B33;
  padding: 5vw;
}

.home-page__features-blurb {
  display: flex;
  flex-direction: column;
}

.home-page__features-blurb .title {
  font-family: "Montserrat";
  font-size: 2em;
  color:#FDE4A8;
}

.home-page__features-blurb .description {
  color: #FFFFFF;
  font-size: 0.9em;
  padding-top: 2vw;
  padding-bottom: 2vw;
  line-height: 16px;
  text-align: flex-start;
}

.home-page__features-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card--gray {
  background-color: #4A443B;
  border: 1px solid #4A443B;
  border-radius: 42px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 28.5%;
}

#shape-orange-ellipse {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 2.8vw;
  right: 5vw;
  z-index: 0;
}
#img-property-manager,
#img-tenants,
#img-svc-providers {
  width: 300px;
  z-index: 1;
}

.box--white {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 34px;
  padding: 12px;
  margin-top: 3px;
  box-shadow: 0px 5px 35px #00000008;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}

.box--white .title {
  font-family: "Montserrat";
  font-size: 1.3em;
  padding-top: 2vw;
  color:#6F654C; 
}

.box--white .description {
  color: #6F654C;
  font-size: 0.7em;
  padding-top: 1vw;
  padding-bottom: 2vw;
  line-height: 16px;
  word-wrap: break-word;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .home-page__features-blurb .title {
    font-size: 1.5em;
  }

  .box--white .title {
    font-size: 1em;
  }

  .home-page__features-blurb {
    margin-top: 10vw;
  }
  .home-page__features-grid {
    flex-direction: column;
    justify-content: center;
  }
  .card--gray {
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 5vw;
  }

  #shape-orange-ellipse {
    width: 190px;
    height: 190px;
    top: 7.5vw;
    right: 20vw;
  }
  #img-property-manager,
  #img-tenants,
  #img-svc-providers {
    width: 290px;
    z-index: 1;
  }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  
  .home-page__features-blurb .title {
    font-size: 1.5em;
  }

  .box--white .title {
    font-size: 1em;
  }

  .home-page__features-blurb {
    margin-top: 10vw;
  }
  .home-page__features-grid {
    flex-direction: column;
    justify-content: center;
  }
  .card--gray {
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 5vw;
  }

  #shape-orange-ellipse {
    width: 290px;
    height: 290px;
    top: 7.5vw;
    right: 20vw;
  }
  #img-property-manager,
  #img-tenants,
  #img-svc-providers {
    width: 420px;
    z-index: 1;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  
  .home-page__features-blurb .title {
    font-size: 1.5em;
  }
  .card--gray {
    padding: 25px;
    width: 30.5%;
  }

  #img-property-manager,
  #img-tenants,
  #img-svc-providers {
    width: 200px;
  }

  #shape-orange-ellipse {
    width: 150px;
    height: 150px;
    top: 4vw;
    right: 5vw;
    z-index: 0;
  }

  .box--white .title {
    font-size: .85em;
  }
  
  .box--white .description {
    font-size: 0.45em;
  }

  .card--gray {
    padding: 15px;
    width: 30%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
    #img-property-manager,
    #img-tenants,
    #img-svc-providers {
      width: 270px;
    }

    #shape-orange-ellipse {
      width: 150px;
      height: 150px;
      top: 4vw;
      right: 5vw;
      z-index: 0;
    }

    .box--white .title {
      font-size: 1em;
    }
    
    .box--white .description {
      font-size: 0.7em;
    }

    .card--gray {
      padding: 15px;
      width: 30%;
    }
  
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* property-types */

.home-page__property-types {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5vw 5vw 2vw;
}

#shape-gray-semi-ellipse {
  position: absolute;
  top: 30vw;
  bottom: 0;
  left:0;
  right: 10vw;
  overflow: hidden;
  width: 100%;
  z-index: -10;
  opacity: 0.7;
}

#shape-gray-semi-ellipse > img {
  width: 1420px;
}
.home-page__property-types-blurb {
  display: flex;
  flex-direction: column;
}

.home-page__property-types-blurb img {
  width: 700px;
}
.home-page__property-types-blurb .title {
  font-family: "Montserrat";
  font-size: 2em;
  color:#FDE4A8;
}

.home-page__property-types-blurb .description {
  color: #FFFFFF;
  font-size: 0.9em;
  padding-top: 2vw;
  padding-bottom: 2vw;
  line-height: 16px;
  text-align: flex-start;
  width: 70%;
}

.property-types__card--dark-gray .box--white .description > ul > li{
  padding-top: 0.5em;
}

.property-types__card--dark-gray {
  background-color: #31302E;
  border: 1px solid #31302E;
  border-radius: 42px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#shape-light-yw-ellipse {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 2.8vw;
  right: 6vw;
  z-index: 1;
}

#img-bldg {
  z-index: 2;
  width: 400px;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  #img-bldg {
    width: 320px;
  }
  #shape-light-yw-ellipse {
    width: 250px;
    height: 250px;
    top: 2.8vw;
    right: 16vw;
  }
  .box--white {
    z-index: 1;
  }
  .home-page__property-types-blurb .title {
    margin-top: 8vw;
    margin-bottom: 4vw;
    font-size: 1.5em;
  }
  .home-page__property-types-blurb .description {
    width: 80%;
    margin-bottom: 10vw;
  }

  #shape-gray-semi-ellipse {
    top: 10vh;
    left: -50vw;
    width: 150%;
  }

  #shape-gray-semi-ellipse > img {
    width: 150%;
  }
  .home-page__property-types-blurb img {
    width: 350px;
  }
 
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  
  #img-bldg {
    width: 420px;
  }
  #shape-light-yw-ellipse {
    width: 350px;
    height: 250px;
    top: 2.8vw;
    right: 16vw;
  }
  .box--white {
    z-index: 1;
  }
  .home-page__property-types-blurb .title {
    margin-top: 8vw;
    margin-bottom: 4vw;
    font-size: 1.7em;
  }
  .home-page__property-types-blurb .description {
    width: 80%;
    margin-bottom: 10vw;
    font-size: 0.8em;
  }

  #shape-gray-semi-ellipse {
    top: 10vh;
    left: -50vw;
    width: 150%;
  }

  #shape-gray-semi-ellipse > img {
    width: 150%;
  }
  .home-page__property-types-blurb img {
    width: 530px;
  }
  .box--white .title {
    font-size: 1.3em;
  }
  
  .box--white .description {
    font-size: 0.7em;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  
  .home-page__property-types {
    flex-direction: row;
  }
  .home-page__property-types-blurb { 
    width: 60%;
  }
  .home-page__property-types-blurb > img {
    order: 3;
    width: 450px;
  }
  .home-page__property-types-blurb .title { 
    order: 1;
    font-size: 1.5em;
  }
  .home-page__property-types-blurb .description {
    order: 2;
    font-size: 0.9em;
    width: 100%;
  }

  .home-page__property-types-carousel {
    width: 40%;
  }

  .property-types__card--dark-gray {
    padding: 15px;
    margin-left: 20px;
  }

  #shape-gray-semi-ellipse > img {
    width: 834px;
  }

  #shape-light-yw-ellipse {
    width: 95%;
    height: 170px;
    right: 1vw;
  }

  #img-bldg {
    z-index: 1;
    width: 95%;
    padding-left:10px
  }

  .box--white .title {
    font-size: 0.7em;
  }
  
  .box--white .description {
    font-size: 0.55em;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
  .home-page__property-types {
    flex-direction: row;
  }
  .home-page__property-types-blurb { 
    width: 60%;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
  }
  .home-page__property-types-blurb > img {
    order: 3;
    width: 650px;
    justify-items: flex-start;
  }
  .home-page__property-types-blurb .title { 
    order: 1;
  }
  .home-page__property-types-blurb .description {
    order: 2;
    width: 100%;
  }

  .home-page__property-types-carousel {
    width: 40%;
  }
  .property-types__card--dark-gray {
    padding: 20px;
    margin-left: 20px;
  }

  #shape-gray-semi-ellipse > img {
    width: 1112px;
  }

  #shape-light-yw-ellipse {
    width: 230px;
    height: 230px;
    right: 7vw;
  }

  #img-bldg {
    z-index: 1;
    width: 320px;
    padding-left:10px
  }

  .property-types__card--dark-gray .box--white .title {
    font-size: 0.9em;
  }
  
  .property-types__card--dark-gray .box--white .description {
    font-size: 0.7em;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .home-page__property-types {
    flex-direction: row;
  }
  .home-page__property-types-blurb { 
    width: 60%;
  }

  .home-page__property-types-carousel {
    width: 40%;
  }
  .property-types__card--dark-gray {
    flex-direction: column;
    width: 320px;
    margin: 0vw 2vw;
  }
  .home-page__property-types-blurb > img {
    order: 3;
  }
  .home-page__property-types-blurb .title { 
    order: 1;
  }
  .home-page__property-types-blurb .description {
    order: 2
  }
  #img-bldg {
    z-index: 1;
    width: 320px;
  }
  #shape-light-yw-ellipse {
    width: 90%;
    left: 3%
  }
}

/*  testimonials */


.home-page__testimonials {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #403B33;
  padding: 5vw;
}

.home-page__testimonials-card {
  background-color: #4A443C;
  border: 1px solid #4A443C;
  border-radius: 42px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: 0px 5px 35px #0000003E;
}

.home-page__testimonials .title {
  font-family: "Montserrat";
  font-size: 2em;
  color:#FDE4A8;
}

.home-page__testimonials .description {
  color: #FFFFFF;
  font-size: 0.9em;
  padding-top: 0.5vh;
  padding-bottom: 2vw;
  line-height: 16px;
  text-align: flex-start;
}

.home-page__testimonials-videos {
  display: flex;
  flex-direction: column;
}

.testimonials-strip-box {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 14px;
  padding: 26px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Montserrat";
  font-size: 1em;
  color:#6F654C;
}

.testimonials-socials {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  color: #FFFFFF;
  font-size: 0.7em;
  align-items: center;
}

.testimonials-socials--yellow {
  color: #FEC90C
}

.testimonials-socials span > img {
  width: 14px;
  height: 14px;
}

#shape-gray-waves {
  position: absolute; 
  top: 40vh;
  bottom: 0;
  left: -6vw;
  width: 60%;
  overflow: hidden;
}

#shape-gray-waves > img {
  top: 100vh;
}

#shape-blue-ellipse {
  position: absolute; 
  left: 0;
  bottom: -6vh;
  width: 100px;
}

#shape-yellow-orange-ellipse {
  position: absolute; 
  right: 2vw;
  top: 24vh;
  width: 60px;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
  #shape-red-orange-ellipse {
    position: absolute;
    top: 490vh;
    left: 74vw;
    overflow: hidden;
    z-index: 10;
  }

  #shape-yellow-orange-ellipse { 
    left: -1.8vh;
    top: 65vh;
    z-index: 2;
    width: 55px;
  }
  
  #shape-red-orange-ellipse > img {
    width: 100px;
  }
  .testimonials-strip-box {
    font-size: 0.85em;
  }

  #shape-blue-ellipse {
    display: none;
  }
  #shape-gray-waves {
    display: none;
  }
  .home-page__testimonials .title {
    margin-top: 5vh;
    font-size: 1.5em;
  }
  .home-page__testimonials {
    padding-top: 10vh;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  
  #shape-red-orange-ellipse {
    position: absolute;
    top: 545vh;
    left: 82vw;
    overflow: hidden;
    z-index: 10;
  }

  #shape-yellow-orange-ellipse { 
    left: -1.8vh;
    top: 65vh;
    z-index: 2;
    width: 55px;
  }
  
  #shape-red-orange-ellipse > img {
    width: 100px;
  }
  .testimonials-strip-box {
    font-size: 0.85em;
  }

  #shape-blue-ellipse {
    display: none;
  }
  #shape-gray-waves {
    display: none;
  }
  .home-page__testimonials .title {
    margin-top: 5vh;
    font-size: 1.5em;
  }
  .home-page__testimonials {
    padding-top: 10vh;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  
  .home-page__testimonials {
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    padding-bottom: 8vh;
  }
  .home-page__testimonials-card {
    width: 50%;
  }
  .home-page__testimonials-videos {
    margin-left: 5vw;
    width: 50%
  }
  .testimonials-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #shape-yellow-orange-ellipse {
    position: absolute; 
    right: 1vw;
    top: 16vh;
    width: 30px;
  }

  #shape-blue-ellipse {
    bottom: -4vh;
    width: 80px;
  }

  #shape-gray-waves {
    position: absolute; 
    top: 30vh;
    bottom: 0;
    left: -6vw;
    width: 100%;
    overflow: hidden;
  }

  #shape-red-gradient-ellipse  {
    position: absolute;
    top: 185vh;
    right: 0;
    overflow: hidden;
    z-index: 10;
  }

  #shape-red-gradient-ellipse > img {
    width: 160px;
    margin-right: -100px;
  }

  .home-page__testimonials .title {
    font-size: 1.5em;
  }
  
  .home-page__testimonials .description {
    font-size: 0.9em;
  }

  .testimonials-strip-box {
    font-size: 0.8em;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
  .home-page__testimonials {
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    padding-bottom: 8vh;
  }
  .home-page__testimonials-card {
    width: 50%;
  }
  .home-page__testimonials-videos {
    margin-left: 5vw;
    width: 50%
  }
  .testimonials-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #shape-yellow-orange-ellipse {
    position: absolute; 
    right: 1vw;
    top: 22vh;
    width: 30px;
  }

  #shape-blue-ellipse {
    bottom: -4vh;
    width: 80px;
  }

  #shape-gray-waves {
    position: absolute; 
    top: 30vh;
    bottom: 0;
    left: -6vw;
    width: 100%;
    overflow: hidden;
  }

  #shape-red-gradient-ellipse  {
    position: absolute;
    top: 280vh;
    right: 0;
    overflow: hidden;
    z-index: 10;
  }

  #shape-red-gradient-ellipse > img {
    width: 160px;
    margin-right: -100px;
  }


  .testimonials-strip-box {
    font-size: 1em;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .home-page__testimonials {
    display: flex;
    flex-direction: row;
  }
  .home-page__testimonials-card {
    width: 40%;
  }
  .home-page__testimonials-videos {
    margin-left: 5vw;
    width: 60%
  }
  .testimonials-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* contact us */

.home-page__contact-us {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5vw;
}

.home-page__contact-us-blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page__contact-us-blurb .title {
  font-family: "Montserrat";
  font-size: 2em;
  color:#FDE4A8;
  width: 60%;
}

.home-page__contact-us-blurb .description {
  color: #FFFFFF;
  font-size: 0.9em;
  padding-top: 2vw;
  padding-bottom: 2vw;
  line-height: 16px;
  width: 60%;
}

.home-page__contact-us-form {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 42px;
  padding: 10vh;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-header {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1em;
  color:#6F654C;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  color:#6F654C;
}

.form-row .checkbox-label {
  margin-bottom: 0;
}

.form-row input[type='text'], .form-row textarea   {
  background-color: #F8F7F7;
  border: 1px solid #D6D9DC;
  border-radius: 16px;
  width: 370px;
  padding: 10px;
  font-size: 14px;
  resize: none;
}

.form-row input[type='checkbox']  {
  display: inline;
  background-color: #F8F7F7;
  border: 1px solid #D6D9DC;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;

}

.form-row button {
  margin-top: 20px;
  background-color: #fec90c;
  border: none;
  border-radius: 20px;
  width: 100px;
  font-size: 12px;
  color: #6F654C;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.form-row label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10px;
}

#img-girl {
  position: absolute;
  bottom: 21vh;
  left:17vw;
  width: 120px;
}

#img-guy {
  position: absolute;
  top: 43vh;
  left: 61vh;
  width: 220px;
  z-index: 1
}

#ellipse-bg-girl {
  position: absolute;
  bottom: 30vh;
  left:14vw;
  width: 150px;
}

#ellipse-bg-guy {
  position: absolute;
  top: 40vh;
  left: 60vh;
  width: 240px;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
  .home-page__contact-us-blurb {
    margin-top: 10vh;;
    margin-bottom: 50vh;;
  }
  .home-page__contact-us-blurb .title {
    font-size: 1.5em;
  }

  #img-girl {
    position: absolute;
    top: 45vh;
    left:12vw;
    width: 100px;
  }
 
  #img-guy {
    position: absolute;
    top: 53vh;
    left: 23.5vh;
    width: 40%;
  }
  #ellipse-bg-girl {
    position: absolute;
    top: 40vh;
    left:4vw;
    width: 130px;
  }
  #ellipse-bg-guy {
    position: absolute;
    top: 50vh;
    left: 22vh;
    width: 45%;
  }

  .home-page__contact-us-form {
    padding: 5vh;
    margin-top: 3px;
  }
  .form-row input[type='text'], .form-row textarea {
    width: 250px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  
  .home-page__contact-us-blurb {
    margin-top: 10vh;;
    margin-bottom: 50vh;;
  }
  .home-page__contact-us-blurb .title {
    font-size: 1.5em;
  }

  #img-girl {
    position: absolute;
    top: 45vh;
    left:12vw;
    width: 100px;
  }
 
  #img-guy {
    position: absolute;
    top: 42vh;
    left: 28.5vh;
    width: 35%;
  }
  #ellipse-bg-girl {
    position: absolute;
    top: 40vh;
    left:4vw;
    width: 130px;
  }
  #ellipse-bg-guy {
    position: absolute;
    top: 38vh;
    left: 27vh;
    width: 40%;
  }

  .home-page__contact-us-form {
    padding: 5vh;
    margin-top: 3px;
  }
  .form-row input[type='text'], .form-row textarea {
    width: 250px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  
  .home-page__contact-us {
    flex-direction: row;
  }
  .home-page__contact-us-blurb { 
    width: 55%;
  }
  .home-page__contact-us-form {
    width: 45%;
  }
  .home-page__contact-us-blurb .title {
    font-size: 1.5em;
    width: 80%;
  }
  .home-page__contact-us-blurb .description {
    font-size: 0.9em;
    width: 80%;
  }
  .home-page__contact-us-form {
    padding: 3vh;
  }
  .form-header {
    font-size: 0.8em;
  }
  .form-row input[type='text'], .form-row textarea   {
    width: 250px;
    font-size: 12px;
  }

  #img-girl {
    position: absolute;
    bottom: 13.5vh;
    left:10.5vw;
    width: 100px;
  }
  
  #img-guy {
    position: absolute;
    top: 23vh;
    left: 22vh;
    width: 180px;
    z-index: 1
  }
  
  #ellipse-bg-girl {
    position: absolute;
    bottom: 18.5vh;
    left: 8vw;
    width: 110px;
  }
  
  #ellipse-bg-guy {
    position: absolute;
    top: 23vh;
    left: 22vh;
    width: 180px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
  .home-page__contact-us {
    flex-direction: row;
  }
  .home-page__contact-us-blurb { 
    width: 60%;
  }
  .home-page__contact-us-form {
    width: 40%;
  }
  .home-page__contact-us-blurb .title {
    width: 80%;
  }
  .home-page__contact-us-blurb .description {
    width: 80%;
  }
  .home-page__contact-us-form {
    padding: 3vh;
  }
  .form-header {
    font-size: 0.8em;
  }
  .form-row input[type='text'], .form-row textarea   {
    width: 340px;
    font-size: 12px;
  }

  #img-girl {
    position: absolute;
    bottom: 13.5vh;
    left:10.5vw;
    width: 120px;
  }
  
  #img-guy {
    position: absolute;
    top: 28vh;
    left: 36vh;
    width: 230px;
    z-index: 1
  }
  
  #ellipse-bg-girl {
    position: absolute;
    bottom: 21vh;
    left: 8vw;
    width: 140px;
  }
  
  #ellipse-bg-guy {
    position: absolute;
    top: 28vh;
    left: 36vh;
    width: 230px;
  }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .home-page__contact-us {
    flex-direction: row;
  }
  .home-page__contact-us-blurb { 
    width: 60%;
  }
  .home-page__contact-us-form {
    width: 40%;
  }
}

/*  pricing */

.home-page__pricing {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #403B33;
  padding: 5vw;
}

.home-page__pricing-card {
  background-color: #4A443C;
  border: 1px solid #4A443C;
  border-radius: 42px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: 0px 5px 35px #0000003E;
}

.home-page__pricing .title {
  font-family: "Montserrat";
  font-size: 2em;
  color:#FDE4A8;
}

.home-page__pricing .description {
  color: #FFFFFF;
  font-size: 0.9em;
  padding-top: 0.5vh;
  padding-bottom: 2vw;
  line-height: 16px;
  text-align: flex-start;
}

.home-page__pricing-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
}

#img-desktop-pricing {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 65vw;
  overflow: hidden;
}

#img-desktop-pricing img {
  right: -10vw;
  width: 725px;
}

#img-ipad-pricing {
  position: absolute;
  bottom: 0;
  right: 18vw;
  top: 35vh;
  overflow: hidden;
}

#img-ipad-pricing img {
  width: 380px;
}

#shape-orange-gradient-ellipse-md {
  position: absolute;
  bottom: 30vh;
  left: 54vw;
  width: 230px;
  height: 230px;
}

#shape-gray-semi-ellipse-up {
  position: absolute;
  top: 0;
  left:0;
  overflow: hidden;
  width: 100%;
  opacity: 0.7;
}

#shape-gray-semi-ellipse-up > img {
  width: 1420px;
}

#bg-waves-demo {
  position: absolute; 
  right: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  z-index: -1;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
  #bg-waves-demo {
    width: 70%;
  }
  #shape-gray-semi-ellipse-up {
    left: -50vw;
    width: 150%;
  }
  #shape-orange-gradient-ellipse-md { 
    bottom: 60vh;
    left: 6vw;
    width: 200px;
    height: 200px;
  }
  .home-page__pricing-banner {
    height: 300px;
  }
  #img-desktop-pricing {
    position: absolute;
    top: 0;
    right: 0;
    left: 35vw;
    overflow: hidden;
  }
  
  #img-desktop-pricing img {
    right: 0;
    width: 500px;
  }
  
  #img-ipad-pricing {
    position: absolute;
    bottom: 0;
    right: 25vw;
    top: 20vh;
    overflow: hidden;
  }
  
  #img-ipad-pricing img {
    width: 200px;
  }

  .home-page__pricing .title {
    font-size: 1.5em;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  
  #bg-waves-demo {
    width: 70%;
  }
  #shape-gray-semi-ellipse-up {
    left: -50vw;
    width: 150%;
  }
  #shape-orange-gradient-ellipse-md { 
    bottom: 60vh;
    left: 10vw;
    width: 200px;
    height: 200px;
  }
  .home-page__pricing-banner {
    height: 300px;
  }
  #img-desktop-pricing {
    position: absolute;
    top: 0;
    right: 0;
    left: 35vw;
    overflow: hidden;
  }
  
  #img-desktop-pricing img {
    right: 0;
    width: 500px;
  }
  
  #img-ipad-pricing {
    position: absolute;
    bottom: 0;
    right: 40vw;
    top: 20vh;
    overflow: hidden;
  }
  
  #img-ipad-pricing img {
    width: 200px;
  }

  .home-page__pricing .title {
    font-size: 1.5em;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  
  #shape-gray-semi-ellipse-up {
    left: 0vw;
    width: 100%;
  }
  #shape-orange-gradient-ellipse-md { 
    bottom: 15vh;
    left: 43.5vw;
    width: 180px;
    height: 180px;
  }
  .home-page__pricing {
    flex-direction: row;
  }
  .home-page__pricing-card {
    width: 40%;
    order: 1
  }
  .home-page__pricing-banner { 
    width: 60%;
    order: 2;
  }

  #img-desktop-pricing {
    left: 55vw;
  }
  
  #img-desktop-pricing img {
    width: 600px;
  }

  #img-ipad-pricing {
    top: 25vh;
  }

  #img-ipad-pricing img {
    width: 300px;
  }
  
  #shape-red-orange-ellipse {
    position: absolute;
    top: 295vh;
    left: -6vw;
    overflow: hidden;
    z-index: 10;
  }

  #shape-red-orange-ellipse > img {
    width: 100px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
  #shape-gray-semi-ellipse-up {
    left: 0vw;
    width: 100%;
  }
  #shape-orange-gradient-ellipse-md { 
    bottom: 25vh;
    left: 43.5vw;
    width: 200px;
    height: 200px;
  }
  .home-page__pricing {
    flex-direction: row;
  }
  .home-page__pricing-card {
    width: 40%;
    order: 1
  }
  .home-page__pricing-banner { 
    width: 60%;
    order: 2;
  }

  #img-desktop-pricing {
    left: 55vw;
  }
  

  #shape-red-orange-ellipse {
    position: absolute;
    top: 438vh;
    left: -4vw;
    overflow: hidden;
    z-index: 10;
  }

  #shape-red-orange-ellipse > img {
    width: 100px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .home-page__pricing {
    flex-direction: row;
  }
  .home-page__pricing-card {
    width: 40%;
    order: 1
  }
  .home-page__pricing-banner { 
    width: 60%;
    order: 2;
  }
}

/* main header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 20px 5vw;
  background-color: #fff;
  box-shadow: 0px 3px 6px #0000000F;
}
  
  .main-header__content {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
  }
  
  
  @media only screen and (min-width: 1420px) {
    .main-header__content {
      margin: 0 auto;
    }
  }
  .main-header__title {
    display: flex;
    align-items: center;
    /* background-color: #F09A9D; */
    padding-right: 50px;
  }
  .main-header__title-logo {
    width: 170px;
  }
  @media only screen and (max-width: 560px) {
    .main-header__title-logo {
      width: 120px;
    }
  }
  .main-header__title-logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .main-header__menu {
    display: none;
    flex: 1;
    justify-content: flex-start;
    /* background-color: #F5CF8E; */
  }
  @media only screen and (min-width: 835px) {
    .main-header__menu {
      display: block;
    }
  }
  .main-header__menu > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
  .main-header__menu > ul > li {
    text-align: center;
  }
  .main-header__menu > ul > li > a {
    display: block;
    padding: 13px 20px;
    text-decoration: none;
    color: #6F654C;
    font-weight: bold;
  }
  @media only screen and (min-width: 1080px) {
    .main-header__menu > ul > li > a {
      /* padding-left: 15px; */
      padding-right: 20px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main-header__menu--hidden {
      display: block;
    }
    .main-header__menu > ul {
      flex-direction: row;
      font-size: 0.70rem;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1419px) {
    .main-header__menu {
      width: 47%;
    }
    .main-header__menu--hidden {
      display: block;
    }
    .main-header__menu > ul {
      flex-direction: row;
      align-items: flex-start;
      font-size: 0.70rem;
    }
  }
  @media only screen and (min-width: 1420px) {
    .main-header__menu--hidden {
      display: block;
    }
    .main-header__menu > ul {
      flex-direction: row;
      align-items: flex-end;
      font-size: 0.70rem;
    }
  }
  
  .main-header__signup {
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* background-color: #F09A9D; */
  }
  
  /* iPad Pro Portrait */
  @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .main-header__signup--only-desktop {
      display: none;
    }
  }
  @media only screen and (min-width: 768px) {
    .main-header__signup {
      margin-left: 30px;
    }
    .main-header__signup > ul > li {
      width: 20%;
      max-width: 8rem;
      height: 2.5rem;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1419px) {
    .main-header__signup {
      padding: 0;
      width: auto;
    }
  }
  @media only screen and (min-width: 1420px) {
    .main-header__signup {
      padding: 0;
    }
  }
  .main-header__signup > ul {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 22.5rem;
  }
  .main-header__signup > ul > li {
    width: 48.5%;
    max-width: 11.0625rem;
    height: 2.5rem;
  }
  @media only screen and (max-width: 767px) {
    .main-header__signup--only-desktop {
      display: none;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main-header__signup--only-desktop {
      display: none;
    }
  }
  
  .main-header__signup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    padding: 0 25px;
  }

  .main-header__signup-icon {
    width: 170px;
    height: 48px;
  }

  /* ----------- iPad Pro 10.5" ----------- */
/* Landscape */
  @media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-header__signup-icon {
      width: 150px;
      height: 48px;
    }

    .main-header__menu > ul > li > a {
      padding: 15px 10px;
      align-items: center;
    }
  }
  
  #mb-nav-wrp {
    display: none;
  }
  
  #mb-nav-wrp {
    display: none;
  }
  @media only screen and (max-width: 834px) {
    #mb-nav-wrp {
      display: block;
    }
  }
  #mb-nav-wrp #mb-nav-tgl {
    display: none;
  }
  #mb-nav-wrp label {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
  }
  #mb-nav-wrp .mb-nav-open {
    z-index: 99999;
    width: 60px;
    height: 65px;
    margin-right: 3vw;
    transition: background 0.5s,
      transform 0.5s cubic-bezier(0.76, 0.52, 0.29, 1.25);
  }
  @media only screen and (max-width: 560px) {
    #mb-nav-wrp .mb-nav-open {
      height: 55px;
    }
  }
  #mb-nav-wrp .mb-nav-open::before,
  #mb-nav-wrp .mb-nav-open::after {
    content: "";
  }
  #mb-nav-wrp .mb-nav-open span,
  #mb-nav-wrp .mb-nav-open::before,
  #mb-nav-wrp .mb-nav-open::after {
    content: "";
    position: absolute;
    top: calc(65% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 3px solid #1f1f1f;
    border-radius: 4px;
    /* transition: transform 0.5s cubic-bezier(0.76, 0.52, 0.29, 1.25); */
  }
  #mb-nav-wrp .mb-nav-open::before {
    transform: translateY(-8px);
  }
  #mb-nav-wrp .mb-nav-open::after {
    transform: translateY(8px);
  }
  #mb-nav-wrp .mb-nav-close {
    z-index: 999;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background 0.5s;
  }
  #mb-nav-wrp #mb-nav-tgl:checked + .mb-nav-open span {
    transform: scaleX(0);
  }
  #mb-nav-wrp #mb-nav-tgl:checked + .mb-nav-open::before {
    transform: rotate(45deg);
  }
  #mb-nav-wrp #mb-nav-tgl:checked + .mb-nav-open::after {
    transform: rotate(-45deg);
  }
  #mb-nav-wrp #mb-nav-tgl:checked ~ .mb-nav-close {
    background: rgba(255, 255, 255, 0.95);
  }
  
  #mb-nav-wrp .mb-nav {
    z-index: 9999;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 6%;
    margin: 0;
    box-sizing: border-box;
    transform: translateY(-100vh);
    transition: transform 0.5s cubic-bezier(0.33, 1.01, 0.33, 0.97);
  }
  #mb-nav-wrp .mb-nav .main-nav {
    margin-top: 5vh;
  }
  #mb-nav-wrp .mb-nav .main-nav li a {
    text-align: center;
    line-height: 1;
    padding-top: 50px;
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  #mb-nav-wrp .mb-nav .main-nav li:last-of-type {
    padding-bottom: 50px;
  }
  
  #mb-nav-wrp #mb-nav-tgl:checked ~ .mb-nav {
    transform: none;
  }
  
  .main-content {
    width: 100%;
    position: relative;
    /* margin: 55px 0 7rem 0; */
  }
  @media only screen and (min-width: 1420px) {
    .main-content {
      margin-top: 89px;
    }
  }


/* main footer */

.main-footer {
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 20px 5vw;
  background-color: #ffffff;
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  flex-direction: column;
}

.main-footer__row {
  display: flex;
  flex-direction: row;
}

.main-footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.main-footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}


.main-footer__title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.main-footer__title-back {
  font-size: 0.6rem;
  text-decoration: none;
  color: #6F654C;
}

#back-to-top-left {
  display: none;
}

#back-to-top-right {
  display: flex;
  align-self: flex-end;
  font-size: 0.45rem;
  font-weight: bold;
  align-items: center;
}

#back-to-top-right img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}


.main-footer__content {
  display: flex;
  align-self: end;
  flex-direction: column;
  line-height: 0.8rem;
  width: 100%
}

.main-footer__content--sns {
  display: flex; 
  flex-direction: row;
  width: 50%;
}

.main-footer__content-sub-title {
  font-size: 0.6rem;
  color: #6F654C;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-footer__newsletter-title {
  font-size: 1rem;
  color: #6F654C;
}

.main-footer__newsletter-title .sub-title {
  font-size: 0.5rem;
}

.main-footer__newsletter-form {
  display: flex;
  flex-direction: row;
}

.main-footer__newsletter-form input[type='text'] {
  background-color: #f9f9fa;
  border: 1px solid #f9f9fa;
  border-radius: 5px;
  width: 230px;
  font-size: 14px;
  resize: none;
  color: #6F654C;
  padding: 10px;
}

.main-footer__newsletter-form button {
  background-color: #fec90c;
  border: none;
  border-radius: 5px;
  width: 100px;
  font-size: 11px;
  font-weight: bold;
  color: #6F654C;
  padding: 10px;
  cursor: pointer;
}

.main-footer__content-copyright {
  font-size: 0.6rem;
  color: #6F654C;
  display: flex; 
  align-self: center;
  justify-content: flex-start;
  width: 50%;
}
.main-footer__content-font {
  font-size: 0.6rem;
  color: #6F654C;
}
.main-footer__title-logo {
  width: 100%;
  padding-right: 50px;
}

.main-footer__title-logo > img {
  width: 200px;
}

.main-footer__sns {
  width: 100%;
}

.main-footer__sns > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.10rem;
  height: 100%;
  width: 20%
}

.main-footer__sns li:first-of-type {
  padding-left: 20px;
}

.main-footer__sns img {
  width: 13px;
  height: 13px;
}

#sns-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  display: none;
}

#sns-nav > div {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#sns-nav img {
  width: 30px;
  height: 30px;
}

/* ----------- iPad Pro 10.5" ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-footer__sns li{
      padding-left: 10px;
    }
}

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-footer__sns li{
      padding-left: 10px;
    }
}

@media only screen and (max-width: 767px) {
  #sns-nav {
    display: flex;
  }
  .main-footer__row { 
    flex-direction: column;
  }

  .main-footer__left {
    width: 100%;
  }

  .main-footer__right {
    width: 100%;
  }
  .main-footer__title-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #back-to-top-left {
    display: flex;
  }

  #back-to-top-right {
    display: none;
  }

  .main-footer {
    flex-direction: column;
  }

  .main-footer__content-copyright {
    width: 100%;
  }

  .main-footer__content--sns {
    display: flex; 
    flex-direction: column;
  }
  
  .main-footer__sns li:first-of-type {
    padding-left: 20px;
  }

  .main-footer__sns img {
    width: 20px;
    height: 20px;
  }

  .main-footer__sns > ul {
    justify-content: space-between;
    width: 80%
  }

  .main-footer__sns li:first-of-type {
    padding-left: 0px;
  }

  .main-footer__title-logo > img {
    width: 150px;
  }

  .main-footer__content {
    line-height: 1.5rem;
    padding-top: 20px;
  }
  
}